/.cph
/A_Alice_s_Adventures_in_Chess.class
/A_Alice_s_Adventures_in_Chess.java
/A_Anton_and_Polyhedrons.class
/A_Anton_and_Polyhedrons.java
/A_Arrival_of_the_General.class
/A_Arrival_of_the_General.java